.mainbox{
  width:99vw;
  margin: 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemBox{
  width: 1320px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.title{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
margin:10px;
}

.listWrapper{
    display: flex;
    margin: 15px 0;
}

.ldsring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 100px 0 70px 0;
  }
  .ldsring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 8px;
    border: 8px solid #452CDD;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #452CDD transparent transparent transparent;
  }
  .ldsring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .ldsring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .ldsring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  