/* Header */
.header{
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
}


.wrapper{
    margin-left: 20px;
    min-width: 300px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 88.02%;
    display: flex;
    align-items: center;
    display: inline;
    color: #000000;
    
}

.logo{
width: 90px;

}

.button{
    margin-right: 40px;
}