.mainbox{
    margin: 70px 0;
}

.title{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
margin:10px;
}

.itemBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.listWrapper{
    display: flex;
    margin: 15px 0;
}
