.mainbox{
    margin: 30px 0;
}
.listWrapper{
    display: flex;
}
.title{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
margin:10px;
}