.title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px 0;
    
    color: #000000;
    border-bottom: 2px solid transparent;
    }
.typeBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    cursor: pointer;
}

.colored{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
text-align: center;
margin: 10px 0;

color: #412DD4;
border-bottom: 2px solid #412DD4;
}