.item{
    width: 320px;
    height:320px;
    margin: 0 5px;
}
.image{
    width:100%;
    height:100%;
    object-fit:cover;
}

.imgBox{
    position: relative;
    width: 320px;
    height: 260px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.star{
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: rgba(223, 223, 223, 0.81);
}

.title{
    font-size: 17px;
    display: inline;
}
.brand {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-weight: 700;
    font-size: 17px;
    line-height: 19px;
}
.detail{
    margin-bottom: 5px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}
.numbers{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    position: relative;
}
.discount{
    color: #452CDD;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
}